<app-page-heading [AddRoute]="'/dashboard/tenant/addtenant'"  [title]="title" [subtitle]="subtitle" [explorerBtn]="true" [TitlePageExplorerBtn]="AddTitle"></app-page-heading>

<app-search-data [dataFilter]="dataFilter"></app-search-data>



<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>م</th>
                <th>اسم المستاجر</th>
                <th>رقم الهويه</th>
                <th>رقم الجوال</th>
                <th>عدد المرافقين</th>
                <th>الادوات</th>
            </tr>
        </thead>
        <tbody>
      @for (item of tenantData; track $index) {
        <tr>
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.nationalId}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.companions}}</td>
            <td>
                <div class="btn_edit">
                    <button type="button" data-button="edit"><svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="0.5" width="33.0001" height="25.0001" rx="2" fill="#E0ECE1"/>
<path d="M11 8.5H10C9.46957 8.5 8.96086 8.71071 8.58579 9.08579C8.21071 9.46086 8 9.96957 8 10.5V19.5C8 20.0304 8.21071 20.5391 8.58579 20.9142C8.96086 21.2893 9.46957 21.5 10 21.5H19C19.5304 21.5 20.0391 21.2893 20.4142 20.9142C20.7893 20.5391 21 20.0304 21 19.5V18.5" stroke="#16601A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20 6.50011L23 9.50011M24.385 8.08511C24.7788 7.69126 25.0001 7.15709 25.0001 6.60011C25.0001 6.04312 24.7788 5.50895 24.385 5.11511C23.9912 4.72126 23.457 4.5 22.9 4.5C22.343 4.5 21.8088 4.72126 21.415 5.11511L13 13.5001V16.5001H16L24.385 8.08511Z" stroke="#16601A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</button>
                    <button type="button" data-button="delete"><svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="0.5" width="33" height="25" rx="2" fill="#FFE5E5"/>
<path d="M23.5 5H20L19 4H14L13 5H9.5V7H23.5M10.5 20C10.5 20.5304 10.7107 21.0391 11.0858 21.4142C11.4609 21.7893 11.9696 22 12.5 22H20.5C21.0304 22 21.5391 21.7893 21.9142 21.4142C22.2893 21.0391 22.5 20.5304 22.5 20V8H10.5V20Z" fill="#FF3D00"/>
</svg>
</button>
                </div>
            </td>
        </tr>
      }
        </tbody>
    </table>
</div>



<app-pagination
  [totalPages]="10"
  [currentPage]="pageIndex"
  (pageChange)="onPageChanged($event)">
</app-pagination>
