<app-page-heading [title]="'الصيانه'" [subtitle]="'الصيانه'"[TitlePageAddBtn]="'مستكشف الصيانه'" [AddBtn]="true"  [ExplorerRoute]="'/dashboard/maintenance/explorermaintenance'" ></app-page-heading>


<div class="forms_dashboard">
    <div class="row">
          <div class="col-sm-12 col-lg-2 mb-3">
        <label for="numberbala" class="form-label">رقم البلاغ</label>
        <input type="text" name="" readonly value="123" class="form-control" placeholder="رقم الوحده" id="numberbala">
    </div>
  <div class="col-sm-12 col-lg-2 mb-3" style="align-self: flex-end;">
        <label  class="form-label" ></label>
        <div class="search_number_component">
<input type="text" name="" placeholder="بحث برقم البلاغ"  class="form-control">

<div class="search">
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.7501 17.4998C6.37783 17.4998 2.83342 13.9554 2.83342 9.58317C2.83342 5.21092 6.37783 1.6665 10.7501 1.6665C15.1223 1.6665 18.6667 5.21092 18.6667 9.58317C18.6667 13.9554 15.1223 17.4998 10.7501 17.4998Z" stroke="#7F7F7F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M2.00008 18.3332L3.66675 16.6665" stroke="#7F7F7F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</div>
        </div>
        
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="mb-3">
              <label for="daphtary" class="form-label">الرقم الدفتري</label>
        <input type="text" name=""  class="form-control" placeholder="الرقم الدفتري" id="daphtary">
        </div>
        
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="mb-3">
              <label for="date" class="form-label">التاريخ</label>
        <input type="date" name=""  class="form-control" placeholder="التاريخ" id="date">
        </div>
        
    </div>

    </div>
</div>



<div class="forms_dashboard my-3">
    <div class="row">
        <div class="col-sm-4 me-auto">
             <app-searchinforms [dataFilter]="dataFilter"></app-searchinforms>
        </div>


        <div class="review_searchData">

            <div class="row">
 <div class="col-sm-12 col-lg-4">
                <div class="mb-3 parent_review">
                    <label for="" class="form-label"> الوحده</label>
                    <input type="text" name="" readonly value="12" class="form-control" placeholder="الوحده" id="">
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="mb-3 parent_review">
                    <label for="" class="form-label"> العقار</label>
                    <input type="text" name="" class="form-control" value="المجد" placeholder="العقار" id="">
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="mb-3 parent_review">
                    <label for="" class="form-label"> رقم المبني</label>
                    <input type="text" name="" readonly value="123" style="padding-right: 85px !important;" class="form-control" placeholder="رقم المبني" id="">
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="mb-3 parent_review">
                    <label for="" class="form-label">المدينه</label>
                    <input type="text" name="" readonly value="مكه" class="form-control" placeholder="المدينه" id="">
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="mb-3 parent_review">
                    <label for="" class="form-label">الحي</label>
                    <input type="text" name="" readonly value="السعدني" class="form-control" placeholder="الحي" id="">
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="mb-3 parent_review">
                    <label for="" class="form-label">الشارع</label>
                    <input type="text" name="" readonly value="123" class="form-control" placeholder="الشارع" id="">
                </div>
            </div>
            </div>
           

        </div>
    </div>
</div>

<div class="forms_dashboard">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <app-refresh-select [titleLabel]="'نوع الصيانه'"></app-refresh-select>
            </div>

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <app-refresh-select [titleLabel]="'موظف مسؤول'"></app-refresh-select>
            </div>

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <app-refresh-select [titleLabel]="'الحاله'"></app-refresh-select>
            </div>

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <app-refresh-select [titleLabel]="'الصندوق /  البنك'"></app-refresh-select>
            </div>

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
              <label for="" class="form-label">المبلغ</label>
              <input type="text" name="" class="form-control" placeholder="المبلغ" id="">
            </div>

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
           <app-input-attachments></app-input-attachments>
            </div>

        </div>


         <div class="col-sm-12">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">البيان</label>
                <textarea class="form-control textarea" id="exampleFormControlTextarea1" placeholder="اكتب المحتوي"></textarea>
            </div>
        </div>
    </div>
</div>


<div class="btn_add_reset mb-3">
        <button type="sumbit" data-button="send">اضافه</button>
        <button type="reset" data-button="reset">جديد</button>
        <button type="button" data-button="reset">تعديل</button>
        <button type="button" data-button="reset">حذف</button>
        <button type="button" data-button="reset">طباعه</button>
    </div>