<app-page-heading [title]="'الرئيسيه'" [subtitle]="'العقار'"></app-page-heading>



<form action="" class="forms_dashboard">
    <div class="row">
        <div class="col-sm-12 mb-3">

            <div class="search_container">
                 <app-searchinforms [backgroundForm]="'red'"></app-searchinforms>
            </div>
          
        </div>
    </div>



  <div class="row">
    <div class="col-sm-12 col-lg-6">
        <app-tree-property-package></app-tree-property-package>
    </div>

    <div class="col-sm-12 col-lg-6 box_col">
      <div class="box_treeproperty">
        <div class="head_box">
          <p class="city_title">
            المدينه
          </p>
          <div class="icon">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="httdiv://www.w3.org/2000/svg">
<path d="M14.5925 5.08366L10.715 10.5003L14.5917 15.917L13.5759 15.917L9.69753 10.5003L13.5759 5.08366L14.5925 5.08366ZM9.76253 5.08366L5.8842 10.5003L9.76336 15.917L8.7467 15.917L4.86836 10.5003L8.7467 5.08366L9.76253 5.08366Z" fill="#7F7F7F"/>
</svg>

          </div>
          <p class="hay_title">الحي</p>

                 <div class="icon">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5925 5.08366L10.715 10.5003L14.5917 15.917L13.5759 15.917L9.69753 10.5003L13.5759 5.08366L14.5925 5.08366ZM9.76253 5.08366L5.8842 10.5003L9.76336 15.917L8.7467 15.917L4.86836 10.5003L8.7467 5.08366L9.76253 5.08366Z" fill="#7F7F7F"/>
</svg>

          </div>
          <p class="property_title">العقار</p>

                 <div class="icon">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5925 5.08366L10.715 10.5003L14.5917 15.917L13.5759 15.917L9.69753 10.5003L13.5759 5.08366L14.5925 5.08366ZM9.76253 5.08366L5.8842 10.5003L9.76336 15.917L8.7467 15.917L4.86836 10.5003L8.7467 5.08366L9.76253 5.08366Z" fill="#7F7F7F"/>
</svg>

          </div>
          <p class="unit_title">الوحده 1</p>



        </div>

        <div class="body_box">
          <div class="imgs">
            <div class="img1">
                <img src="/images/treeProperty.png" alt="Property" srcset="">

            </div>

            <div class="img2">

                 <img src="/images/treeProperty.png" alt="Property" srcset="">
  
            </div>
            <div class="img3">
                 <img src="/images/treeProperty.png" alt="Property" srcset="">

 


            </div>
          </div>
        </div>

        <div class="footer_box">
          <p>مكة المكرمة هي أقدس مدن المسلمين، وتُعرف بأنها مسقط رأس النبي محمد ﷺ، وبها نزول الوحي، وتضم الكعبة المشرفة والمسجد الحرام، وهما أهم المواقع الدينية للمسلمين الذين يتوجهون إليها لأداء فريضة الحج والعمرة. تاريخ المدينة قديم ويرتبط بقصص الأنبياء إبراهيم وإسماعيل عليهما السلام، وتُعد مكة مركزًا للإيمان والروحانية وتستقبل ملايين الزوار سنويًا. </p>

          <div class="table_container">
            <div class="box">
                <h6>الدور</h6>
                <p>الاول</p>
            </div>
            <div class="box">
                <h6>رقم الوحده</h6>
                <p>123</p>
            </div>
            <div class="box">
                <h6>عدد الغرف</h6>
                <p>5</p>
            </div>
            <div class="box">
                <h6>نوع الوحده</h6>
                <p>مفروش</p>
            </div>
            <div class="box">
                <h6>مساحه الوحده</h6>
                <p>180 م2</p>
            </div>
            <div class="box">
                <h6>تصنيف الوحده</h6>
                <p>اسره 4 افراد</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  
</form>
