.search_container{
    position: relative;

    .search_data{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        gap: 10px;


        .filter_search{
            cursor: pointer;
        }
        .search{
            cursor: pointer;
        }
    }
}