.forms_dashboard{
    height: 337px;
    .form-group{
        position: relative;

        .icon{
            position: absolute;
            left: 0;
                left: 9px;
    top: 74%;
    transform: translateY(-50%);
    cursor: pointer;
        }
    }
}