<app-page-heading [title]="'الرسايل'" [subtitle]="'ارسال رساله'" [AddBtn]="true"  [ExplorerRoute]="'/dashboard/sendmessage/explorersendmessage'"
[TitlePageAddBtn]="'مستكشف الرسايل'"
></app-page-heading>

<div class="sendmsg_nav">

</div>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
	<li [ngbNavItem]="1">
		<button ngbNavLink>ارسال لمجموعه</button>
		<ng-template ngbNavContent>
		<form class="forms_dashboard">
            <div class="row">

                <div class="col-sm-12">
                    <p class="date_time">24/09/2025    11:26:00 am</p>
                </div>

                <div class="col-sm-12">
     <div class="d-flex justify-content-between align-items-center mb-3">
                    <label for="" class="form-label">المستاجرين</label>
                    <button type="button" class="choose_data" (click)="showPopupRealtor=!showPopupRealtor">بحث عن مستاجرين</button>
                </div>

                <div class="parent_textareaTenant">
                    <textarea    class="form-control data_tenant" readonly></textarea>
                    <div class="boxes">
                        <div class="box">
                            <p class="name_tenant">محمد عبد الله</p>
                            <div class="delete"><svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.2969 11.0469L10.5469 17.7969C10.3163 18.0275 9.93375 18.0275 9.70313 17.7969C9.4725 17.5663 9.4725 17.1838 9.70312 16.9531L16.4531 10.2031C16.6837 9.9725 17.0662 9.9725 17.2969 10.2031C17.5275 10.4338 17.5275 10.8163 17.2969 11.0469Z" fill="#212121" stroke="#212121"/>
<path d="M17.2969 17.7969C17.0662 18.0275 16.6837 18.0275 16.4531 17.7969L9.70312 11.0469C9.4725 10.8162 9.4725 10.4337 9.70313 10.2031C9.93375 9.9725 10.3163 9.9725 10.5469 10.2031L17.2969 16.9531C17.5275 17.1837 17.5275 17.5662 17.2969 17.7969Z" fill="#212121" stroke="#212121"/>
</svg>
</div>
                        </div>
                        <div class="box">
                            <p class="name_tenant">محمد عبد الله</p>
                            <div class="delete"><svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.2969 11.0469L10.5469 17.7969C10.3163 18.0275 9.93375 18.0275 9.70313 17.7969C9.4725 17.5663 9.4725 17.1838 9.70312 16.9531L16.4531 10.2031C16.6837 9.9725 17.0662 9.9725 17.2969 10.2031C17.5275 10.4338 17.5275 10.8163 17.2969 11.0469Z" fill="#212121" stroke="#212121"/>
<path d="M17.2969 17.7969C17.0662 18.0275 16.6837 18.0275 16.4531 17.7969L9.70312 11.0469C9.4725 10.8162 9.4725 10.4337 9.70313 10.2031C9.93375 9.9725 10.3163 9.9725 10.5469 10.2031L17.2969 16.9531C17.5275 17.1837 17.5275 17.5662 17.2969 17.7969Z" fill="#212121" stroke="#212121"/>
</svg>
</div>
                        </div>
                    </div>
                </div>
               


                <div class="d-flex justify-content-between align-items-center mb-3">

                    <button type="button" class="choose_data"> إختيار نماذج الرساله</button>
                     <p class="countMsg1">العدد : 128</p>
                </div>
                </div>

            <div class="col-sm-12">
                <label for="msgText" class="form-label">نص الرساله</label>
                <textarea name="" id="" id="msgText" class="form-control" placeholder="اكتب المحتوي"></textarea>
                <p class="countMsg2"> 48/2</p>
            </div>


            <div class="col-sm-12">
                <label for="tarekasend">طريقه الارسال</label>

                <div class="d-flex align-items-center gap-3 my-2 tarekasend">
                    <div class="d-flex gap-2 ">
                        <input type="checkbox" checked id="sms" class="form-check-input">
                        <label for="sms">SMS</label>
                    </div>
                    <div class="d-flex gap-2 ">
                        <input type="checkbox" id="whatapp" class="form-check-input">
                        <label for="whatapp">واتساب</label>
                    </div>
                    <div class="d-flex gap-2 ">
                        <input type="checkbox" id="email" class="form-check-input">
                        <label for="email">البريد الالكتروني</label>
                    </div>

                </div>


                <div class="btn_add_reset">
                    <button type="button" data-button="send">ارسال</button>
                </div>
            </div>
           

                
            </div>
        </form>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink>ارسال فردي</button>
		<ng-template ngbNavContent>
			<p>
				Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
				farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
				ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
				helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
				8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
				stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
			</p>
		</ng-template>
	</li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<app-searchmsg (arrDataCheck)="arrDataCheck($event)" [showPopup]="showPopupRealtor"></app-searchmsg>